body {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e');
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 50, 0.7);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#title {
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
    color: #fff;
    font-family: condensed-black-italic;
}

#description {
    text-align: center;
    margin-bottom: 20px;
    color: #b0c4de;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #b0c4de;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border-radius: 5px;
    border: none;
    background-color: #f0f8ff;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.radio-group div,
.checkbox-group div {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.radio-group label,
.checkbox-group label {
    margin-left: 5px;
    color: #b0c4de;
}


button#submit {
    width: 100%;
    padding: 10px;
    background-color: #4682b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#submit:hover {
    background-color: #5a9bd4;
}

select {
    color: #000; /* Default color for selected options */
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border-radius: 5px;
    border: none;
    background-color: #f0f8ff;
}

select:invalid {
    color: #a9a9a9; /* Light gray for the placeholder */
}



